extends layout

block content
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='date') Даты бронирования:
            input#date.form-control(type='date', name='date' required='true' value=(''))
        div.form-group
            label(for='name') Введите имя, на которое был зарезервирован стол:
            input#name.form-control(type='text', placeholder='Иван' name='name' required='true' value=(''))
        button.btn.btn-primary(type='submit') Отменить бронирование

    if errors
        ul
            for error in errors
                li!= error.msg