extends layout

block content
    h1= title
    ul
        each table in free_tables
            li
                a(href='/catalog/' + type + '_tables/' + table._id) #{table.description}
                p Общее количество мест - #{table.count}
        else
            p Нет #{p_tables} столиков